# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. and others

**Objectives:**
 List popular languages for Data Science
 * Python
 * R
 * SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. TensorFlow
3. Pandas
4. and others

| Data Science Tools |
| ------------------ |
| Project Jupyter |
| Apache Spark |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
min=int(200)
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

Hours= 3
Minutes= 20

## Author:
Ayush Phani